In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 9999)
pd.set_option('display.max_columns', 9999)
pd.set_option('display.width', 9999)

# Membaca file csv dan menjalankannya

Di tugas ini saya akan menghilangkan nilai di atribut yang masih bernilai null / Nan, supaya saat modelling data,
hasilnya akan lebih baik dan akurat

In [61]:
data = pd.read_csv("water_potability.csv")

In [62]:
data.head(20)

           ph    Hardness        Solids  Chloramines     Sulfate  Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0         NaN  204.890455  20791.318981     7.300212  368.516441    564.308654       10.379783        86.990970   2.963135           0
1    3.716080  129.422921  18630.057858     6.635246         NaN    592.885359       15.180013        56.329076   4.500656           0
2    8.099124  224.236259  19909.541732     9.275884         NaN    418.606213       16.868637        66.420093   3.055934           0
3    8.316766  214.373394  22018.417441     8.059332  356.886136    363.266516       18.436524       100.341674   4.628771           0
4    9.092223  181.101509  17978.986339     6.546600  310.135738    398.410813       11.558279        31.997993   4.075075           0
5    5.584087  188.313324  28748.687739     7.544869  326.678363    280.467916        8.399735        54.917862   2.559708           0
6   10.223862  248.071735  28749.716544     7.513408  393.663396    283.651634       13.789695        84.603556   2.672989           0
7    8.635849  203.361523  13672.091764     4.563009  303.309771    474.607645       12.363817        62.798309   4.401425           0
8         NaN  118.988579  14285.583854     7.804174  268.646941    389.375566       12.706049        53.928846   3.595017           0
9   11.180284  227.231469  25484.508491     9.077200  404.041635    563.885481       17.927806        71.976601   4.370562           0
10   7.360640  165.520797  32452.614409     7.550701  326.624353    425.383419       15.586810        78.740016   3.662292           0
11   7.974522  218.693300  18767.656682     8.110385         NaN    364.098230       14.525746        76.485911   4.011718           0
12   7.119824  156.704993  18730.813653     3.606036  282.344050    347.715027       15.929536        79.500778   3.445756           0
13        NaN  150.174923  27331.361962     6.838223  299.415781    379.761835       19.370807        76.509996   4.413974           0
14   7.496232  205.344982  28388.004887     5.072558         NaN    444.645352       13.228311        70.300213   4.777382           0
15   6.347272  186.732881  41065.234765     9.629596  364.487687    516.743282       11.539781        75.071617   4.376348           0
16   7.051786  211.049406  30980.600787    10.094796         NaN    315.141267       20.397022        56.651604   4.268429           0
17   9.181560  273.813807  24041.326280     6.904990  398.350517    477.974642       13.387341        71.457362   4.503661           0
18   8.975464  279.357167  19460.398131     6.204321         NaN    431.443990       12.888759        63.821237   2.436086           0
19   7.371050  214.496610  25630.320037     4.432669  335.754439    469.914551       12.509164        62.797277   2.560299           0

di tahap ini saya memisahkan antara atribut dan label, supaya proses data preparation berjalan dengan baik di tahap atribut

In [63]:
atribut = data.iloc[:,:-1].values
label = data.iloc[:,-1].values
print(atribut)

[[           nan 2.04890455e+02 2.07913190e+04 ... 1.03797831e+01
  8.69909705e+01 2.96313538e+00]
 [3.71608008e+00 1.29422921e+02 1.86300579e+04 ... 1.51800131e+01
  5.63290763e+01 4.50065627e+00]
 [8.09912419e+00 2.24236259e+02 1.99095417e+04 ... 1.68686369e+01
  6.64200925e+01 3.05593375e+00]
 ...
 [9.41951032e+00 1.75762646e+02 3.31555782e+04 ... 1.10390697e+01
  6.98454003e+01 3.29887550e+00]
 [5.12676292e+00 2.30603758e+02 1.19838694e+04 ... 1.11689462e+01
  7.74882131e+01 4.70865847e+00]
 [7.87467136e+00 1.95102299e+02 1.74041771e+04 ... 1.61403676e+01
  7.86984463e+01 2.30914906e+00]]

Setelah memisahkan atribut dan label, kemudian saya menggunakan library sklearn.impute dengan mengimport SimpleImputer yang 
berfungsi mengisi nilai di atribut yang masih bernilai nan / null / tdk terdefinisi. Untuk perbedaan bisa dilihat di tampilan
print(atribut) yang pertama masih ada nilai nan, kemudian setelah saya gunakan sklearn.impute dengan mengimport SimpleImputer
nilai nan menjadi hilang

In [64]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(atribut[:,:-1])
atribut[:,:-1] = imp_mean.transform(atribut[:,:-1])
print(atribut)

[[7.08079450e+00 2.04890455e+02 2.07913190e+04 ... 1.03797831e+01
  8.69909705e+01 2.96313538e+00]
 [3.71608008e+00 1.29422921e+02 1.86300579e+04 ... 1.51800131e+01
  5.63290763e+01 4.50065627e+00]
 [8.09912419e+00 2.24236259e+02 1.99095417e+04 ... 1.68686369e+01
  6.64200925e+01 3.05593375e+00]
 ...
 [9.41951032e+00 1.75762646e+02 3.31555782e+04 ... 1.10390697e+01
  6.98454003e+01 3.29887550e+00]
 [5.12676292e+00 2.30603758e+02 1.19838694e+04 ... 1.11689462e+01
  7.74882131e+01 4.70865847e+00]
 [7.87467136e+00 1.95102299e+02 1.74041771e+04 ... 1.61403676e+01
  7.86984463e+01 2.30914906e+00]]